
.before-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.wrapper {
  display: grid;
  width: fit-content;
  margin: 0 auto;
  column-gap: 40px;
  grid-template-columns: 1fr 200px;
  grid-template-rows: auto;
  grid-template-areas: 
  "header header"
  "main sidebar";
}

main {
  grid-area: main;
}

.selected-section {
  grid-area: sidebar;
}

header {
  margin: 20px 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #333;
  grid-area: header;
}

.title {
  display: flex;
  flex-direction: row;
}

.logo {
  height: 55px;
  margin-top: 10px;
  margin-right: 10px;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1)
}

.task-name {
  color: #059ce2;
  margin-right: 5px;
}

.task-descr {
 margin-top: 0;
}

h2 {
  margin-bottom: 15px;
}

.choose {
  display: grid;
  grid-template-columns: 140px 90px;
  margin-bottom: 40px;
  column-gap: 20px;
  align-items: center;
  justify-content: center;
}

.choose-mode {
  padding: 0 10px;
  height: 45px;
  font-size: 16px;
  font-weight: 400;
  border: 1px solid black;
  border-radius: 10px;
}

.choose-mode:focus {
  outline: 0;
}

.button-section {
  display: flex;
  flex-direction: row;
}

.app-btn {
  margin-right: 15px;
  font-weight: 400;
  height: 40px;
  font-size: 16px;
  border-radius: 10px;
  color: #fff;
  background-color: #03a8f4;
  border: 1px solid #03a8f4;
  transition: all 0.2s ease-in-out;
}

.app-btn:hover {
  cursor: pointer;
  background-color: #059ce2;
}

.app-btn:disabled {
  color: grey;
  cursor: auto;
}

.btn-text {
  text-transform: uppercase;
}

.field {
  height: max-content;
  width: max-content;
  border-top: 1px solid #333;
  border-left: 1px solid #333;
  margin-bottom: 15px;
  margin-left: 0;
}

.row {
  display: flex;
}

.item {
  width: 50px;
  height: 50px;
  border-right: 1px solid #333;
  border-bottom: 1px solid #333;
}

.item-hovered {
  background-color: #40E0D0;
}

.loading-msg {
  justify-content: center;
  text-align: center;
}

.items-title {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 20px;
  margin-left: 35px;
}

.list-item {
  padding: 12px 8px;
  border-radius: 8px;
  background-color: #fbf8e3;
  color: yellowgreen;
  margin-top: 5px;
}

.selected-list {
  height: 500px;
  overflow-y: auto;
  list-style: none;
  width: fit-content;
}
